@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
}

::-webkit-input-placeholder {
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}

::placeholder {
    color: #000;
}
